<div class="container-fluid">
    <div id="all-articles">
        {{#each db_articles}}
          {{#unless this.saved}}
          <div class="row">
              <div class="col-10">
                <h3>
                    <pre>{{this.title}}</pre>
                </h3>
                <pre>{{this.link}}</pre>
              </div>
              <div class="col-2">
                <button type="button" class="btn save-btn btn-success" data-id={{_id}}>Save Article</button>
              </div>
          </div>
                {{/unless}}
                  {{/each}}
              
      </div>


</div>
