<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Scrapin' Onions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Saved Articles</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Scrape The Onion</a>
                    <a class="dropdown-item" href="#">Clear Articles</a>
                </div>
            </li>
        </ul>
</nav>
</ul>
</div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="/assets/images/key_art_the_onion.jpg">
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<div class="container">
    <div id="all-articles">
        {{#each db_articles}}
          <div class="row">
              <div class="col-10">
                <h3>
                    <pre>{{this.title}}</pre>
                </h3>
                <pre>{{this.link}}</pre>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-success">Save Article</button>
              </div>
          </div>
                  {{/each}}
      </div>


</div>
